{% extends "layout/basic.html" %}

{% block content %}

    <p>
    {% for d in date_list %}
        {{ d.year }} /
        <a href="{% url 'bboard:month' year=d.year month=d.month %}">
            {{ d.year }} - {{ d.month }}</a>
    {% endfor %}
    </p>

    {% for bb in bbs|dictsort:'price' %}
    <div class="{% cycle 'b1' 'b2' 'b3' %}">
{#  with тэг #}
        {% with bb.price|add:50 as adjusted_price %}
            <h2>{{ bb.title }} (Цена с наценкой: {{ adjusted_price }})</h2>
        {% endwith %}
{#     truncatewords тэг   #}
        <p>{{ bb.content|truncatewords:10 }}</p>
{# ifchanged тэг    #}
        {% ifchanged bb.rubric.name %}
            <p>{{ bb.rubric.name }}</p>
        {% endifchanged %}
{# date tag #}
        <p>{{ bb.published|date:"d.m.Y H:i:s" }}</p>

        {% firstof bb.phone bb.email 'На деревню дедушке' %}
{# Добавляем цикл с условием для элементов с ценой выше 1000 #}
        {% for item in items %}
            {% if item.price > 1000 %}
                <p>{{ item.name }} - {{ item.price }}</p>
            {% endif %}
        {% endfor %}
    </div>
    {% empty %}
        <p>Объявлений нет!!!</p>
    {% endfor %}
{% endblock %}
